/* color palette from <https://github.com/vuejs/theme> */
:root {
  --black-500: #121212;
  --black-400: #2c2c2c;
  --black-300: #282828;
  --black-200: #2c2c2c;
  --black-100: #383030;

  --white-500: #ffffff;
  --white-400: #f7f7f7;
  --white-300: #d6c9c9;

  -gray-500: #909090;
  -gray-400: #969696;
  -gray-300: #afafaf;
  -gray-200: #b1b1b1;

  --green-500: #e1b12c;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--black-500);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  color: var(--white-500);
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
